

@media(max-width: 866px){
    .navbar{
        display: none;
    }

    .hamburger{
        display: block;
        margin-top: 5%;
        user-select: none;
    }

    .responsive-navbar-container{
        display: block;
    }


    header{
        padding-top: 30px;
    }

    .technical-background p{
        font-size: 0.9rem;
    }

    .prfooter .btn-download{
        display: block;
    }

    .prfooter .btn-resume-view{
        display: none;
    }

   
    .skills-content{
        font-size: 1.5em;
        width: 100%;
    }

    .skills-content h3{
        font-size: 0.9em;
    }


    .prfooter button{
        width: 7rem;
        height: 1.9rem;
        font-size: 0.7em;
    }

    .bottom-title{
        font-size: 1em;
        left: 48%;
    }

    .right-form h1,.contact-content-holder h1{

        font-size: 1.5rem;
    }

    .contact-content-holder p{
        font-size: 0.8rem;
    }

    form > div{
        padding-bottom: 0.5rem;
    }

    form span{
        font-size: 0.8rem;
    }

    form input{
        width: 13rem;
        font-size: 0.8rem;
        padding: 1px;
    }

    form textarea{
    
        font-size: 0.8rem;
    }


    .projects-image{
        grid-template-rows: repeat(4,13rem);
       
    }

   

    
}

@media(max-width: 700px){

    .technical-background p{
        font-size: 0.8rem;
    }

    .prfooter button{
        width: 6rem;
        height: 1.7rem;
        font-size: 0.6em;
    }

    .contact-img-holder{
        height: 80%;
        margin-right: 0.6rem;
     }


     .right-form h1,.contact-content-holder h1{

        font-size: 1.2rem;
    }

    form input{
         width: 10rem;
    }

    form textarea{
        width: 140%;
        height: 5rem;
        font-size: 1rem;
    }



    .contact-content-holder p{
        font-size: 0.6rem;
    }

    .bottom-title{
       
        left: 47%;
    }

 
    


}


@media(max-width: 550px){

      
      
      .body h1,h2{
          font-size: 2.3em;
      }

      .body span{
        color:rgba(134, 7, 7, 0.829);
         font-size: 1em;
        
     }
     
     .profile-footer{
         margin-top: 5em;
     }
      
      .technical-background p{
          font-size: 0.8rem;
      }

      .bottom-title{
          font-size: 1em;
          left: 46%;
      }


      .popup-profile,.popup-projects,.popup-skills,.popup-contact{
        height: 96%;
    }
    
      form input{
          width: 8rem;
      }

      form textarea{
        width: 100%;
        height: 5rem;
        font-size: 1rem;
    }


   
    


     
}


@media(max-width:450px){
  
    .technical-background p{
        font-size: 0.7em;
        font-weight: 500;
        color: rgb(197, 196, 196);
    }
    
    .skills-content{
        font-size: 1.3em;
        width: 95%;
        margin: 2em auto;
        line-height: 2rem;
        padding: 5px;
    }

    .skills-content h3{
        line-height: 1.3rem;
        margin-bottom: 1.3rem;
    }

    form input{
        width: 7rem;
    }

    
    .bottom-title{
       
        left: 44%;
    }

    

}


@media(max-width:360px){

    .body{
       
        margin-top: -4rem;
    }

    .hamburger{
       
        margin-top: 10%;
    }


    .social-links img{
        padding:3px;
        width: 20px;
      }

      .profile-footer p{
          font-size: 0.6rem;
      }

      .arrow img,
      .profile img,
       .projects-arrow, 
       .skills-arrow,
       .contact-arrow img,
       .home-arrow img{
           
        width: 25px;
        
      }
      
      .responsive-navbar-container{
        top: 15%;
    }


    .responisve-navbar li{
        font-size: 0.8em;
      }

      .technical-background p{ 
         margin-top: 2rem;
         line-height: 1rem;
      }
       
      .content{
          justify-content:flex-start;
          width: 90%;
      }

      .content .profile-img{
        width: 50px;
      
     }

     .prfooter{
         position: absolute;
         top: 85%;
         left: 50%;
         transform: translate(-50%,-50%);
         

     }

     .prfooter .btn-download,.prfooter button{
        padding: 4px 5px;
        font-size: 0.5rem;
    }


    .bottom-title{
        font-size: 0.7rem;
        top: 83%;
        left: 50%;
    }

      
    
    .skills-content{
        font-size: 1.1em;
        width: 100%;
        margin: 4em auto;
        line-height: 1.7rem;
        padding: 3px;
        color: rgb(185, 180, 180);
    }

    .skills-content h3{
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }


    form{
      margin-top: -0.7rem;
      margin-right: 1rem;
    }



    form span{
        font-size: 0.6rem;
    }

    form > div{
        line-height: 1rem;
         padding-bottom: 2;
         
    }

    form input{
        width: 7rem;
        font-size: 0.7rem;
    }

    form textarea{
       font-size: 0.7rem;
      
    }

    .right-form h1,.contact-content-holder h1{
       
        font-size: 0.8rem;
    }

    .right-form h1{
        top: 2rem;
        left: 1.9rem;
    }

    form textarea{
        width: 6rem;
        height: 4rem;
    }

    .contact-content-holder p{
        font-size: 0.5rem;
    }


    .contact-img-holder{
        
        margin-right: 0.9rem;
     }

     .contact-img-holder img{
         width: 17px;
     }


     .skills-content{
         width: 98%;
     }



       

}


 


/* **********up************** */


@media(min-width: 1300px){
           
    

      header{
          font-size: 1.4em;
      }

      .navbar li:nth-child(1) a::before{
        top: 23%;
        width: 40%;
        height: 4px;
        font-weight: 700;
       }
       

    .technical-background p{
        font-size: 1.3rem;
    }

    .body h1,h2{
        font-size: 3.3em;
    }

    .body span{
       font-size: 1.2em;
   }

   .profile-footer p{
       font-size: 1.2rem;
   }

   .arrow img{
       width: 3rem;
   }

   .social-links img{
       width: 2.3rem;
   }

   .bottom-title{
       font-size: 1.5rem;
       left: 49%;
       top: 97%; 
   }


   .profile-footer button,.prfooter button{
       font-size: 1.1rem;
   }

   
   .skills-content{
      height: 60%;
     
   }

   .skills-content li{
       font-size: 1.7rem;
      
   }

   .skillstitle{
       margin-top: 3.3rem;
       font-size: 2.5rem;
       
   }

   .contact-form-container{
       font-size: 1.2rem;
   }

   .right-form{
    margin-top: 3.5rem;
    
  }

  form textarea{
      width: 130%;
      height: 65%;
  }

  .profile-footer button,.prfooter button{
    font-size: 1.1rem;
    width: 12rem;
    height: 3.2rem;
  
}
  


}


@media(min-width: 1500px){

    
   
      .body{
          margin-top: 10rem;
      }

      .main-title{
          font-size: 3.5rem;
      }


      .footer-section{
         position: absolute;
         top: 75%;
         left:50% ;
         transform: translate(-50%,-50%);
      }

      .remover{
          
        font-size: 4.5rem;
            
      }

      .technical-background p{
        font-size: 1.8em;
        line-height: 2.5rem;
        color: rgb(179, 178, 177);
        margin-top: 12rem;
    }

      .prfooter{
          margin-top: 3rem;
      }

     
     
    .skills-content{
        height: 55%;
       
     }
  
     .profile-footer button,.prfooter button{
        font-size: 1.1rem;
        width: 12rem;
        height: 3.2rem;
      
    }

    .bottom-title{
       left: 51%;
    }

   

    .resume-holder{
        height: 90%;
    }
    
    
   .contact-form-container{
    font-size: 1.4rem;
   }

   

   form textarea{
   width: 170%;
   height: 80%;
   margin-top: 2rem;
   }
    
   .contact-img-holder{
      height: 80%;
      justify-content: space-around;
      margin-right: 0.4rem;
   }
    
   .contact-img-holder img{
       width: 30px;
   }

    

 
}




@media (min-width:1700px){
    .body{
        margin-top: 12rem;
    } 
   
    
    
     header h1{
        margin-top: 5.3rem;
        font-size: 4rem;

     }

     .navbar li a{
         font-size: 1.7rem;
     }


    .body h1,h2{
        font-size: 3.8rem;
    }

    .profile-footer p{
        font-size: 1.5rem;
    }

    .arrow img{
        width: 3.8rem;
    }

    .social-links img{
        width: 44px;
      }

      
     .profile-footer button,.prfooter button{
        font-size: 1.3rem;
        width: 14rem;
        height: 3.6rem;
    }


      .bottom-title{
        font-size: 1.8rem; 
        
    }


      .technical-background p{
        margin-top: 3rem;
      }
    
      .content .profile-img{
        width: 12rem;
        margin-top: 3rem;
     }


     .btn-view,.btn-code{        
       width: 10rem;
       height: 3.7rem;
     }
     
     .skills-content{
         width: 100%;
        margin-top: 7rem;
     }

     form span{
         font-size: 1.8rem;
     }

     form > div{
         padding-bottom: 2.8rem;
     }

     form input{
         width: 30rem;
         font-size: 1.7rem;
         padding: 2px;
         
     }

     form textarea{
         width: 33rem;
         height: 15rem;
         font-size: 2rem;
     }


     form {
         width: max-content;
     }


} 


@media (min-width:1800px){

    .navbar li:nth-child(1) a::before{
        top: 24.5%;
        width: 45%;
       }

         
}


@media (min-width:2000px){

      .skills-content{
         margin-top: 10rem;
         width: 95%;
    }

    .skills-content h3{
        font-size: 3.3rem;
    }
    
    .skills-content li{
        font-size: 2.3rem;
      }

      .contact-content-holder h1{
          font-size: 2.5rem;
      }

      .contact-content-holder p{
          font-size: 1.8rem;
      }

      form textarea{
        width: 37rem;
        height: 17rem;
        font-size: 2.4rem;
        padding: 5px;
    }
    
    .profile-footer button,.prfooter button{
        font-size: 1.5rem;
        width: 15.5rem;
        height: 4rem;
    }

    form span{
        padding: 4px 0px;
    }

      .bottom-title{
        font-size: 1.8rem; 
        left: 51.5%;
    }



}






