
*{
    margin: 0;
    padding: 0;
   
}

* ,*::before,*::after{
    box-sizing: border-box;
}

body,html{
  scroll-behavior: smooth;
overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(css-pic/darkimg.jpg);
    font-family: 'Montserrat', sans-serif;
     position: relative;
}

header{
    width: 85%;
    height: 300px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
 
}

.navbar{
    padding: 30px;
    margin-top: 70px;
    position: relative;
    
}

.body{
    width: 80%;
    height: 30%;
    margin: 10px auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
    position: relative;
   
 
}

.footer-section,.profile-footer{
   width: 90%;
   margin: 10px auto;
   height: 180px;
   color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.popup-profile,.popup-projects,.popup-skills,.popup-contact{
    width: 95%;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    margin-top: 850px;
    background-image: linear-gradient(40deg, rgb(20, 12, 12),rgb(24, 22, 22));
    border: 1px solid rgba(134, 7, 7, 0.829);
    transition: 1s;
    color: #fff;
  
}

.bottom-title{
    position: absolute;
    bottom: 35%;
    color: rgba(134, 7, 7, 0.829);
  }
  
.popup-active{
    margin-top: -100px;
}


.skills-content{
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: space-around;
    align-items: center;
    line-height: 2;
    font-size: 1.7em;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}

.skills-content li{
    font-size: 0.8em;
}
.skillstitle{
    color: rgba(134, 7, 7, 0.829);
}


.content{ 
    width: 90%;
    height: 60%;
    color: #fff;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    
  }

  .projects-image{
      display: flex;
      width: 100%;
      height: 450px;
      justify-content: center;
      align-items: center;
      text-align: center;
    
  }
 
  .overlayimg {
      position: relative;
      color:#fff;
      font-size: 1.5em;
      font-weight: 500;
      cursor: pointer;
  }

  .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:rgba(22, 15, 15, 0.493);
      opacity: 0;
      transition: opacity 0.5s;
      display: flex;
      justify-content: center;
      align-items:center;
     
  }

  .btn-view{
      width: 140px;
      height: 45px;
      border-radius: 10px;
      text-transform: capitalize;
      background:rgba(134, 7, 7, 0.829);
      color: #fff;
      border: none;
      outline: none;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      padding :5px;
      position: relative;
      cursor: pointer;
     
  }

  .resume-holder{
      /*
    background-image: linear-gradient(40deg, rgb(15, 11, 11),rgb(41, 30, 30));
      */
     background-color: rgb(156, 152, 152);
     position: absolute;
     top: 50%;
     left: 50%;
     width: 800px;
     height: 800px;
     display: flex;
     flex-direction: column;
     align-content: center;
     line-height: 1.5;
     overflow: hidden;
     overflow-Y: scroll;
    padding: 30px 0px 10px 30px;
     text-align: left;
     font-size: 0.9em;
     font-weight: 500;
     transform: translate(-50%, 100%);
     transition: 1s transform;
     color: #fff;
     border: 1px solid rgba(134, 7, 7, 0.829);
     text-transform: capitalize;
     
  }

  .resume-holder::-webkit-scrollbar{
      width: 10px;
      background-color: rgb(36, 17, 17);
      
  }

  .resume-holder::-webkit-scrollbar-thumb{
      background-color: rgba(134, 7, 7, 0.829);
      border-radius: 10px;
  }

  .resume-holder::-webkit-scrollbar-thumb:hover{
      background-color: rgb(167, 157, 161);
  }
  .resume-content{
      width: 100%;
      font-size: 1.1em;
     
  }

   .spacing{
   margin-bottom: 50px;
   line-height: 1.9;
   }

  .resume-content h1{
    color: rgba(134, 7, 7, 0.829);
  }


  .personalinfo{
      display: flex;
      justify-content: space-around;
      width: 30%; 
  }
  .personal-skills{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
  } 

  .resume-active{
    transform: translate(-50%,-50%);
  }


  
