@import "global.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


header h1{
  font-size: 2.2em;
  font-weight: 800;
  margin: 30px 30px 0px 0px;
  color: #fff;
  font-family: 'Fascinate', cursive;
}

header span{
  color:rgba(134, 7, 7, 0.829); 
}

.navbar li{
    list-style: none;
    text-transform: capitalize;
    padding: 10px;
    
}

.hamburger img{
  width: 30px;
  height: 30px;
  user-select: none;

}

.responisve-navbar li{
  text-transform: capitalize;
  list-style: none;
  
}

.responisve-navbar a{
  color: rgba(134, 7, 7, 0.829);
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}

.responisve-navbar a:hover{
   color: #fff;
}

.navbar li:nth-child(1) a {
  color:rgba(134, 7, 7, 0.829);
}

.navbar li:nth-child(1) a::before{
 content: " ";
 display: block;
 width: 3rem;
 height: 2px;
 background:rgba(134, 7, 7, 0.829);
 position: absolute;
 top: 21.5%;
}

.navbar li a{
    color: #fff;
    text-decoration:none;
    font-weight: 600;
    transition: 0.5s;
}

.skills-content li{
  list-style: none;
}

.navbar li a:hover{
  color:rgba(134, 7, 7, 0.829);
}

 .body h1,h2{
  padding: 3px; 
  font-size: 2.5rem;
}


 .body h2::before{
  content: "";
  display: inline-block;
  width: 3px;
  height: 40px;
  background:#fff;
  transform: rotate(90deg);
  margin:10px 10px 0px 0px;
}

 .body h1::after,.body h2::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    
  }

  
 .body span{
   color:rgba(134, 7, 7, 0.829);
    font-size:3rem;
}

.footer-section p{
  font-size: 0.9rem;
  font-weight: 700;
  
}


.arrow img{
  transition: 1s;
   cursor: pointer;
   animation: arrow 2s infinite;
}


.social-links img{
  padding:5px;
  width: 30px;
  transition: 0.5s;
  cursor: pointer;
 
}

.social-links img:hover{
  transform: scale(1.3);
}

.remover{
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  font-weight: 400;
  transform: rotate(45deg);
  top: 2%;
  right: 5%;
  cursor: pointer;
  user-select: none;
}

.remover:hover{
  color: #999;
}

.technical-background p{
    margin-top: -20px;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: center;
}
.technical-background p::before{
   content: open-quote;
   font-size: 2rem;
   color:rgba(134, 7, 7, 0.829);
} 

.technical-background p::after{
  content: close-quote;
  font-size: 2rem;
  color:rgba(134, 7, 7, 0.829);
}

.content .profile-img{
   width: 130px;
 
}
.content > div{
   height: 120px;
   margin-top: 50px;
}


.prfooter button{
  outline: none;
  border: none;
  width: 9rem;
  height: 2.3rem;
  border-radius: 8px;
  text-transform: capitalize;
  background:rgba(134, 7, 7, 0.829);
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
  color: rgb(190, 183, 183);
  
}

.profile-footer button a,.prfooter button a{
  text-decoration: none;
  color: rgb(190, 183, 183);
}

 

.profile-footer button:hover,.prfooter button:hover{
  transform: scale(1.1);

}

.main-title{
  text-align: center;
  padding: 40px 0px 15px 0px;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: capitalize;
}

.projects-image img{
  width: 80%;
  transition: 0.7s;
  border: 2px solid rgba(134, 7, 7, 0.829); 
  border-radius: 10px;
  position: relative;
  user-select: none;
}

.overlay:hover{
  opacity: 1;
}


.overlay > *{
  transform: translateY(40px);
  transition: transform 0.5s;
}

.overlay:hover:hover > *{
  transform: translateY(0);
}

.btn-view a,.btn-code a{
  color: #fff;
  text-decoration: none;
}






/* ************ arrow animation ************ */

@keyframes arrow{

  20%{
   
    transform: scale(1);
    transform: translateY(0px);
  }

  40%{
   
    transform: scale(1);
    transform: translateY(10px);
  }
   
  60%{
   
    transform: scale(1);
    transform: translateY(0px);
  }

  80%{
   
    transform: scale(1);
    transform: translateY(10px);
  }
  100%{
   
    transform: scale(1);
    transform: translateY(0px);
  }
}










































/* ************ resume styles ************ 


.headresume{
  grid-area: head;
  background-color: rgb(92, 20, 17);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Shippori Mincho', serif;
}

.headresume .perso-info{
   font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 0.7em;
  line-height: 2em;
  font-weight: 500;
}

.headresume h1{   
   letter-spacing: 1.5px;
   margin-left: 50px;
  
}


.headresume h2{
   font-size: 1.3em;
   margin-left: 50px;
   
}
.contactsresume {
 grid-area: contacts;
 background-color: rgb(92, 20, 17);
 font-size: 0.7em;

}

.contactsresume-holder{
   width: 67%;
   height: 90%;
   display: flex;
   justify-content: space-around;
   margin: 8px auto;
}
.contactsresume .icons{
   display: flex; 
   flex-direction: column; 
   justify-content: space-around; 
}

.contactsresume .icons img{
   width: 20px;
}

.contactsresume .textresume{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   font-weight: 500;
  
}

.contactsresume .textresume a{
   text-decoration: none;
   color: #fff;
}

.resume-remover{
   font-size: 3em;
   position: sticky;
   top:50px ;
   transform: translate(80% , 50%);
   cursor: pointer;
}



.profileresume{ 
   grid-area: profile;
   font-size: 0.9em;
}

.profileresume .profileresume-wraper {
   width: 90%;
   height: 50%;   
   margin: 10% auto;
   font-size: 1.1em;
}

.profileresume-wraper h1{
   color:rgba(134, 7, 7, 0.829);
   margin-bottom: 20px;
}


.skillsresume{
   grid-area: skills;
   font-size: 0.8em;
   line-height: 1.2em;
   position: relative;
}

.skillsresume h1 {
  margin-top: 1.9em;
  margin-bottom: 50px;
  color:rgba(134, 7, 7, 0.829);
  font-size: 2.9em;
}

.skillsresume h2{
   margin-top: 35px;
   margin-bottom: 15px;
   text-transform: capitalize;
   color: rgb(156, 79, 76);
   font-size: 1.9em;
}

.skillsresume p{
   text-transform: capitalize;
   font-size: 1.1em;
   line-height: 1.9em;
}

.skillsresume .comp-skills{
   background-color: aqua;
   margin-bottom: 30px;
}

.workresume{
   grid-area: work;
   font-size: 0.9em;
   display: flex;
   
}

.contentresume h1{
   color:rgba(134, 7, 7, 0.829);
   font-size: 2.3em;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.workresume .contentresume{
   height: 70%;
   width: 45%;
   margin-top: 10px;
}

.contentresume > div {
  margin: 50px 0px 120px 30px;
  
}

.workresume .synopsisresume{
   width: 50%;
   height: 70%;
   margin-top: 100px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
  
}


.synopsisresume p::before{
   content: "";
   display: inline-block;
   width: 3px;
   height: 15%;
   background-color: rgb(116, 24, 24);
   position: absolute;
   left: 29%;
}

.educationresume{
   grid-area: education;
   font-size: 0.9em;
}

.educationresume .educationresume-holder{
   display: flex;
   justify-content: space-around;
   text-transform: capitalize;
  
}


.educationresume  h1{
   text-align: center;
   text-transform: uppercase;
   color: rgb(153, 21, 16);
   margin-bottom: 35px;
}

.resumeremover{
  width: 100%;
  height: 30px;
  position: absolute;
  padding-right: 15px;
  position: sticky;
  top: 30px;
}

.resumeremover > div{
  color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
}

.resumeremover > div:hover{
  color: gray;
}

.resume-active{
  transform: translate(-50%,-50%);
  
}

.resume-holder::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(36, 17, 17);
    
}

.resume-holder::-webkit-scrollbar-thumb{
    background-color: rgba(134, 7, 7, 0.829);
    border-radius: 10px;
}

.resume-holder::-webkit-scrollbar-thumb:hover{
    background-color: rgb(167, 157, 161);
}

*/